/* Fonts CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.oswald {
    font-family: Oswald;
}
/* Fonts CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Notifications CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.notify-message {
    font-size: 16px;
}
.uk-notification {
    max-width: 95%;
    width: 450px;
}
.uk-notification-bottom-center,
.uk-notification-top-center {
    margin-left: unset;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -moz-transform: translate(-50%);
}
/* Notifications CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Scroll CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #3a4250;
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-track:hover {
    border-radius: 4px;
    background: lightgrey;
}
/* Scroll CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Form CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.btn-icon {
    background: #ffffff;
    border: none;
    right: 1.5px;
    top: 1.5px;
    height: calc(100% - 3px);
    border-left: none;
    color: #1e87f0;
    cursor: pointer;
    transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
}

.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
    background: #1e87f0;
    color: #ffffff;
}
/* Form CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
