.vault-content {
    background-color: #3a4250;
    background-image: url("images/dark-honeycomb.png");
    min-height: calc(100vh - 110px);
    color: #fff;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

nav {
    .active {
        background-color: #3a4250;
        color: #fff;
        font-weight: bold;
        &::before {
            border-color: #fff;
        }
    }
}
