.top-right-icon-bar {
    position: absolute;
    top: 10px;
    right: 10px;   
}

.full-height {
    min-height: 100vh;
}

.full-textarea {
    height: calc(100vh - 390px);
    min-height: 190px;
}

.form-group {
    position: relative;
}

.invalid-input {
    border: 1px solid tomato;
}

.invalid-msg {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: tomato;
}