<div>
    <div class="sub-nav">
        <div class="uk-width-1-1 uk-inline">
            Your notes
            <span
                class=" uk-badge"
                [innerHtml]="'Total: ' + notes?.length"
            ></span>
            :
            <div class="uk-float-right">
                <span>
                    <button
                        class="uk-button uk-button-small uk-button-primary"
                        (click)="addNote()"
                    >
                        Add Note
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="notes-container">
        <div class="note" *ngFor="let note of notes" (click)="editNote(note)">
            <div class="uk-card uk-card-default uk-card-body">
                <span>
                    <span class="pin">
                        <i *ngIf="note.pinned" class="fas fa-star"></i>
                        <i *ngIf="!note.pinned" class="far fa-star"></i>
                    </span>
                    <span class="tag">
                        <span class="fas fa-tags"></span>
                        {{ note.account ? 'Work' : 'Personal' }}
                    </span>
                </span>

                <h3 class="uk-card-title" [innerHtml]="note.title"></h3>
                <p [innerHtml]="note.note"></p>
            </div>
        </div>
    </div>
</div>

<!-- Note Modal -->
<note-modal
    [open]="openNoteModal"
    (noteEmitter)="onNoteSave($event)"
></note-modal>
